*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/image2.png");
       background-repeat: no-repeat;
       background-size: 1880px 1000px;
}

/* navigation */
.nav-container{
    background: #FFFFFF;
    height: 100px; 
    border-style: none;
    width: 1880px;
    left: 20px;
top: 20px;
}

.wrapper {
width: 1880px;
margin: 0 auto;
border-radius: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px; 
    
}
nav ul{
    display: flex;
    margin: 10px;
    padding: 0;
}

.logo{
    float: left;
    width: 25%;
    padding: 2px;
    /*height: 31.284751892089844px;
width: 107.88910675048828px;
left: 25.77874755859375px;
top: 28.02490234375px;
border-radius: 0px;*/
/* Dark */
/*background: #6A7081;*/
} 
.logo img:hover{
    background-color: #100080;
}
.nav-items li{
    list-style: none;
    margin: 10px;
font-family: Montserrat;
font-style: normal;
/* identical to box height */
/*color:#6A7081 ;*/
} 
/*.nav-items li:nth-last-of-type(1){
margin: 0;
list-style: none;
}*/
.vl{
    height: 0px;
width: 120.00000000000009px;
left: 422px;
top: 0px;
bottom: 0px;
border-radius: nullpx;
position: none;
    border: 1px solid #6A7081;
    transform: rotate(90deg);
}
.nav-items li a{
line-height: 17px;
color: #6A7081;
font-family: Montserrat;
font-size: 14px;
text-decoration: none;
justify-content: space-between;
}
.nav-items li a:hover{
    text-decoration-color:  blue;
    color:  blue;
}
.wrapper2{
width: 1880px;
margin: 0 ;
border-radius: 0px;

}
.first-content{
text-align: left;
    align-content: center;
}
.first-content h1{
    position: absolute;
width: 807px;
height: 148px;
left: 59px;
top: 320px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 74px;
    color: #005EAD;
    text-align: left;
    align-content: center;
}
.first-content p{
    position: absolute;
width: 750px;
height: 34px;
left: 61px;
top: 500px;
    color: #6A7081;
   font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
}
.search-box{
    position: absolute;
left: 8.79%;
right: 13.33%;
top: 85%;
bottom: 85%;
    width: 150px;
    height: 40px;
    background: #005EAD;
}
.search-box button{
    position: absolute;
left: 10.67%;
right: 30.67%;
top: 35%;
bottom: 22.5%;
    border-style: none;
    font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */
letter-spacing: 0.05em;
background: #005EAD;
color: #FFFFFF;
}
.search-box1{
    position: absolute;
width: 210px;
height: 50px;
left: 195px;
top: 902px;
/* Primary Color */
text-align: center;
background: #005EAD;
}
.search-box1 button{
letter-spacing: 0.02em;
margin: auto;
width: 150px;
height: 22px;
left: 225px;
top: 916px;
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
background: #005EAD;
}
.search-box2{
    position: absolute;
width: 275px;
height: 50px;
left: 405px;
top: 902px;
/* Primary Color */
text-align: center;
vertical-align: middle;
background: #2AAEF8;
}
.search-box2 button{
width: 217px;
height: 22px;
left: 433px;
top: 916px;
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
background: #2AAEF8;
}
/*FOR SEARCH DIV */
.grid-container{
    position: absolute;
width: 1920px;
height: 180px;
left: 0px;
top: 952px;
display: grid;
/*grid-template-columns:auto auto auto;*/
/* Dark 40% */
background: #C3C6CD;
}
.grid-item {
position: absolute;
width: 420px;
height: 60px;
left: 195px;
top:60px;
/*top: 1012px;*/
/*left: 0%;
right: 0%;
top: 0%;
bottom: 0%;*/
background: #FFFFFF;
}
.grid-item2{
    position: absolute;
width: 421px;
height: 60px;
left: 645px;
top:60px;
/*top: 1012px;*/
background: #FFFFFF;
}
.grid-item3{
position: absolute;
width: 420px;
height: 60px;
left: 1096px;
/*top: 1012px;
*/
top:60px;
background: #FFFFFF;
}
.grid-item4{
    position: absolute;
    width: 181px;
height: 60px;
left: 1544px;
/*top: 1012px;*/
top:60px;
background: #005EAD;
}
.grid-item select{
position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item2 select{
    position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item3 select{
    position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item4 button{
    position: absolute;
    left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
/*width: 83px;
height: 22px;
left: 1571px;
top: 1033px;*/
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.05em;
background-color: #005EAD;
color: #FFFFFF;
}
/*FOR SUGGESTED CAR DIV*/
.suggested-cars{
position: absolute;
width: 1556px;
height: 466px;
left: 195px;
top: 1220px;
display: flex;

}
.suggested-cars h1{
position: absolute;
width: 341px;
height: 63px;
/*left: 195px;
top: 1220px;
/* Heading 3 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */
/* Primary Color */
color: #005EAD;
text-align: left;
}
/*.column{
    flex: 50%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;

}*/
.suggested-item1{
position: absolute;
width: 438px;
height: 290px;
/*left: 217px;*/
top: 100px;
}
.suggested-item1 p{
    position: absolute;
width: 431px;
height: 32px;
/*left: 227px;*/
top: 300px;

/* Heading 4 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;
text-transform: uppercase;

color: #6A7081;
}
.suggested-item1 h1{
position: absolute;
width: 59px;
height: 17px;
left: 200px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: rgba(106, 112, 129, 0.4);
}
.suggested-item2{
position: absolute;
width: 490px;
height: 246px;
left:500px;
/*left: 703px;*/
top: 100px;
}
.suggested-item2 p{
    position: absolute;
width: 215px;
height: 32px;
left: 150px;
top:300px;
/*top: 1633px;
/* Heading 4 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
text-transform: uppercase;
color: #6A7081;
}
.suggested-item2 h1{
    position: absolute;
width: 70px;
height: 17px;
left: 230px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: rgba(106, 112, 129, 0.4);
}
.suggested-item3{
    position: absolute;
width: 548px;
height: 308px;
left:1003px;
/*left: 1203px;*/
top: 100px;
}
.suggested-item3 p{
    position: absolute;
width: 301px;
height: 32px;
left: 150px;
top:300px;
/*top: 1633px;
/* Heading 4 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-transform: uppercase;
color: #6A7081;
}
.suggested-item3 h1{
    position: absolute;
width: 56px;
height: 17px;
left: 250px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: rgba(106, 112, 129, 0.4);
}
/* FOR ABOUT DIV*/
.about{
    position: absolute;
width: 1920px;
height: 801px;
left: 0px;
top: 1831px;
background: #F8F8F9;
}
.read-more{
    position: absolute;
    width: 764px;
height: 555px;
left: 145px;
background: #FFFFFF;
top: 15%;
}
.read-more img{
    position: absolute;
width: 625px;
height: 309px;
left: 100px;
/*top: 2049px;*/
top:10%;
}
.read-more button{
    width: 129px;
    height: 40px;
    position: absolute;
    left:100px;
/*left: 0.67%;*/
right: 30.42%;
top: 70%;
bottom: 22.5%;
font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
border-style: none; 
/* identical to box height */
letter-spacing: 0.05em;
color: #FFFFFF;
    background: #005EAD;
}
/*.read-more button img{
    position: absolute;
left: 35.79%;
right: 33.33%;
top: 25%;
bottom: 25%;
background: #FFFFFF;
}*/
.read-more1{
    position: absolute;
width: 578px;
height: 555px;
left: 909px;
top: 15%;

background: #DCDCDC;
}

.class-logo{
    position: absolute;
width: 1530px;
height: 181.81px;
left: 195px;
top: 2649.59px;
}

.vehicle-type{
    position: absolute;
width: 1920px;
height: 860px;
left: 0px;
top: 2852px;
background: #005EAD;
/* identical to box height */
color: #FFFFFF;
}

.Our-offers{
position: absolute;
width: 1530px;
height: 761px;
left: 195px;
top: 3812px;
color: #005EAD;
}

.Our-offers offer-container{
position: absolute;
width: 905px;
height: 522px;
left: 178px;
top: 3886px;
background-image: url("images/newyr.png");
}

.content{
    position: absolute;
width: 1920px;
height: 363px;
left: 0px;
top: 4877px;
background: #FFFFFF;
}











