*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/image2.png");
       background-repeat: no-repeat;
       background-size: 1880px 1000px;
}

/* navigation */
.nav-container{
    background: #FFFFFF;
    height: 100px; 
    border-style: none;
    width: 1880px;
    left: 20px;
top: 20px;
}

.wrapper {
width: 1880px;
margin: 0 auto;
border-radius: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px; 
}
nav ul{
    display: flex;
    margin: 10px;
    padding: 0;
}

.logo{
    float: left;
    width: 25%;
    padding: 2px;
    /*height: 31.284751892089844px;
width: 107.88910675048828px;
left: 25.77874755859375px;
top: 28.02490234375px;
border-radius: 0px;*/
/* Dark */
/*background: #6A7081;*/
} 
.logo img:hover{
    background-color: #100080;
}
.nav-items li{
    list-style: none;
    margin: 10px;
font-family: Montserrat;
font-style: normal;
/* identical to box height */
/*color:#6A7081 ;*/
} 
/*.nav-items li:nth-last-of-type(1){
margin: 0;
list-style: none;
}*/
.vl{
    height: 0px;
width: 120.00000000000009px;
left: 422px;
top: 0px;
bottom: 0px;
border-radius: nullpx;
position: none;
    border: 1px solid #6A7081;
    transform: rotate(90deg);
}
.nav-items li a{
line-height: 17px;
color: #6A7081;
font-family: Montserrat;
font-size: 14px;
text-decoration: none;
justify-content: space-between;
}
.nav-items li a:hover{
    text-decoration-color:  blue;
    color:  blue;
}
.wrapper2{
width: 1880px;
margin: 0 ;
border-radius: 0px;

}
.first-content{
text-align: left;
    align-content: center;
}
.first-content h1{
    position: absolute;
width: 807px;
height: 148px;
left: 59px;
top: 320px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 74px;
    color: #005EAD;
    text-align: left;
    align-content: center;
}
.first-content p{
    position: absolute;
width: 750px;
height: 34px;
left: 61px;
top: 500px;
    color: #6A7081;
   font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
}
.search-box{
    position: absolute;
left: 8.79%;
right: 13.33%;
top: 85%;
bottom: 85%;
    width: 150px;
    height: 40px;
    background: #005EAD;
}
.search-box button{
    position: absolute;
left: 10.67%;
right: 30.67%;
top: 35%;
bottom: 22.5%;
    border-style: none;
    font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */
letter-spacing: 0.05em;
background: #005EAD;
color: #FFFFFF;
}
.search-box1{
    position: absolute;
width: 210px;
height: 50px;
left: 195px;
top: 902px;
/* Primary Color */
text-align: center;
background: #005EAD;
}
.search-box1 button{
letter-spacing: 0.02em;
margin: auto;
width: 150px;
height: 22px;
left: 225px;
top: 916px;
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
background: #005EAD;
}
.search-box2{
    position: absolute;
width: 275px;
height: 50px;
left: 405px;
top: 902px;
/* Primary Color */
text-align: center;
vertical-align: middle;
background: #2AAEF8;
}
.search-box2 button{
width: 217px;
height: 22px;
left: 433px;
top: 916px;
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
background: #2AAEF8;
}


/*FOR SEARCH DIV */
.grid-container{
    position: absolute;
width: 1920px;
height: 180px;
left: 0px;
top: 952px;
display: grid;
/*grid-template-columns:auto auto auto;*/
/* Dark 40% */
background: #C3C6CD;
}
.grid-item {
position: absolute;
width: 420px;
height: 60px;
left: 195px;
top:60px;
/*top: 1012px;*/
/*left: 0%;
right: 0%;
top: 0%;
bottom: 0%;*/
background: #FFFFFF;
}
.grid-item2{
    position: absolute;
width: 421px;
height: 60px;
left: 645px;
top:60px;
/*top: 1012px;*/
background: #FFFFFF;
}
.grid-item3{
position: absolute;
width: 420px;
height: 60px;
left: 1096px;
/*top: 1012px;
*/
top:60px;
background: #FFFFFF;
}
.grid-item4{
    position: absolute;
    width: 181px;
height: 60px;
left: 1544px;
/*top: 1012px;*/
top:60px;
background: #005EAD;
}
.grid-item select{
position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item2 select{
    position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item3 select{
    position: absolute;
left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
 border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-transform: uppercase;
color: #6A7081;
} 
.grid-item4 button{
    position: absolute;
    left: 5.28%;
right: 59.17%;
top: 35%;
bottom: 31.67%;
/*width: 83px;
height: 22px;
left: 1571px;
top: 1033px;*/
border-style: none;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.05em;
background-color: #005EAD;
color: #FFFFFF;
}



/*FOR SUGGESTED CAR DIV*/
.suggested-cars{
position: absolute;
width: 1556px;
height: 466px;
left: 195px;
top: 1220px;
display: flex;

}
.suggested-cars h1{
position: absolute;
width: 341px;
height: 63px;
/*left: 195px;
top: 1220px;
/* Heading 3 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */
/* Primary Color */
color: #005EAD;
text-align: left;
}
/*.column{
    flex: 50%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;

}*/
.suggested-item1{
position: absolute;
width: 438px;
height: 290px;
/*left: 217px;*/
top: 100px;
}
.suggested-item1 p{
    position: absolute;
width: 431px;
height: 32px;
/*left: 227px;*/
top: 300px;

/* Heading 4 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;
text-transform: uppercase;

color: #6A7081;
}
.suggested-item1 h1{
position: absolute;
width: 59px;
height: 17px;
left: 200px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: rgba(106, 112, 129, 0.4);
}
.suggested-item2{
position: absolute;
width: 490px;
height: 246px;
left:500px;
/*left: 703px;*/
top: 100px;
}
.suggested-item2 p{
    position: absolute;
width: 215px;
height: 32px;
left: 150px;
top:300px;
/*top: 1633px;
/* Heading 4 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
text-transform: uppercase;
color: #6A7081;
}
.suggested-item2 h1{
    position: absolute;
width: 70px;
height: 17px;
left: 230px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: rgba(106, 112, 129, 0.4);
}
.suggested-item3{
    position: absolute;
width: 548px;
height: 308px;
left:1003px;
/*left: 1203px;*/
top: 100px;
}
.suggested-item3 p{
    position: absolute;
width: 301px;
height: 32px;
left: 150px;
top:300px;
/*top: 1633px;
/* Heading 4 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-transform: uppercase;
color: #6A7081;
}
.suggested-item3 h1{
    position: absolute;
width: 56px;
height: 17px;
left: 250px;
/*top: 1669px;*/
top:350px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: rgba(106, 112, 129, 0.4);
}
/* FOR ABOUT DIV*/
.about{
    position: absolute;
width: 1920px;
height: 801px;
left: 0px;
top: 1831px;
background: #F8F8F9;
}
.read-more{
    position: absolute;
    width: 764px;
height: 555px;
left: 145px;
background: #FFFFFF;
top: 15%;
}
.read-more img{
    position: absolute;
width: 625px;
height: 309px;
left: 100px;
/*top: 2049px;*/
top:10%;
}
.read-more button{
    width: 129px;
    height: 40px;
    position: absolute;
    left:100px;
/*left: 0.67%;*/
right: 30.42%;
top: 70%;
bottom: 22.5%;
font-family: Tajawal;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
border-style: none; 
/* identical to box height */
letter-spacing: 0.05em;
color: #FFFFFF;
    background: #005EAD;
}
/*.read-more button img{
    position: absolute;
left: 35.79%;
right: 33.33%;
top: 25%;
bottom: 25%;
background: #FFFFFF;
}*/
.read-more1{
    position: absolute;
width: 578px;
height: 555px;
left: 909px;
top: 15%;

background: #DCDCDC;
}

/*FOR BRANDS LOGO */
.class-logo{
    position: absolute;
width: 1530px;
height: 181.81px;
/*left: 195px;*/
left:90px;
top: 2649.59px;
padding: 10px;
margin:centre;
}
.brand1{
position: absolute;
width: 119.22px;
height: 100.34px;
left:90px;
/*left: 195px;
top: 2690.33px;*/
top:20%;
}
.brand2{
position: absolute;
width: 141.08px;
height: 142.07px;
left:240px;
/*left: 346.01px;
/*top: 2669.46px;*/
top:15%;
}
.brand3{
position: absolute;
width: 136.11px;
height: 181.81px;
left:400px;
/*left: 504.97px;
/*top: 2649.59px;*/
top:0%;
}
.brand4{
position: absolute;
width: 127.17px;
height: 84.45px;
/*left: 673.87px;
top: 2698.28px;*/
left:573px;
top:20%;
}
.brand5{
    position: absolute;
width: 148.03px;
height: 111.27px;
/*left: 820.91px;
top: 2685.36px;*/
left:720px;
top:17%;
}
.brand6{
position: absolute;
width: 107.3px;
height: 106.31px;
/*left: 998.75px;
top: 2687.35px;*/
left: 898px;
top:20%;

}
.brand7{
    position: absolute;
width: 139.09px;
height: 79.48px;
/*left: 1140.82px;
top: 2701.26px;*/
left:1040px;
top:30%;
}
.brand8{
position: absolute;
width: 113.26px;
height: 66.56px;
/*left: 1318.66px;
top: 2708.21px;*/
left:1218px;
top:30%;
}
.brand9{
position: absolute;
width: 129.16px;
height: 124.19px;
/*left: 1458.66px;
top: 2678.41px;*/
left:1358px;
top:17%;
}
.brand10{
    position: absolute;
width: 116.24px;
height: 98.36px;
/*left: 1608.76px;
top: 2692.31px;*/
left:1520px;
top:20%;
}


/* FOR VEHICLE TYPE DIV*/
.vehicle-type{
    position: absolute;
width: 1920px;
height: 860px;
left: 0px;
top: 2852px;
background: #005EAD;
/* identical to box height */
display: grid;
grid-column: auto auto auto;
}
.vehicle-type h1{
    position: absolute;
/*width: 267px;*/
width:300px;
height: 44px;
left: 195px;
top: 9%;
/*top: 2943px;
/* Heading 3 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */
color: #FFFFFF;
}
.sedan{
    position: absolute;
width: 490px;
height: 525px;
left: 195px;
/*top: 3066px;*/
top:20%;

}
.sedan h1{
    position: absolute;
width: 144px;
height: 43.27px;
/*left: 259px;
top: 3537.43px;*/
left:60px;
top:85%;
/*background: #C4C4C4;*/
}
.suv{
    position: absolute;
width: 490px;
height: 525px;
left: 715px;
/*top: 3066px;*/
top:20%;
}
.suv h1{
position: absolute;
width: 216px;
height: 36.39px;
/*left: 779px;
top: 3540.38px;*/
left:60px;
top:85%
}
.commercial{
    position: absolute;
width: 490px;
height: 525px;
left: 1235px;
/*top: 3066px;*/
top:20%;
}
.commercial h1{
    position: absolute;
width: 280px;
height: 43.36px;
/*left: 1299px;
top: 3537.38px;*/
left: 60px;
top:85%;
}
.Our-offers{
position: absolute;
/*width: 1530px;*/
width: 1920px;
height: 761px;
left: 195px;
top: 3812px;
color: #005EAD;
}

.Our-offers offer-container{
position: absolute;
width: 905px;
height: 522px;
left: 178px;
top: 3886px;
background-image: url("images/newyr.png");
}
.subscribe{
    position: absolute;
width: 1920px;
height: 200px;
left: 0px;
top: 4678px;

/* Dark 40% */

background: #C3C6CD;
}
.subscribe h1{
    position: absolute;
width: 337px;
height: 88px;
left: 195px;
/*top: 4736px;*/
top:30%;
/* Heading 3 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
}
.subscribe input[type=text]{
position: absolute;
/*left: 0%;
right: 0%;
top: 0%;
bottom: 0%;*/
width:396px;
height: 60px;
left:30%;
top:30%;
padding: 12px;
margin:8px 0;
border-style: none;
background: #FFFFFF;
}
.subscribe input[type=email]{
    position: absolute;
    width: 395px;
    height: 60px;
    left:53%;
    top:30%;
    padding: 12px;
margin:8px 0;
    border-style: none;
    background: #FFFFFF;
}
.subscribe input[type=submit]{
    position: absolute;
width: 230px;
height: 60px;
/*left: 1495px;
top: 4750px;*/
left: 78%;
top:30%;
/* Primary Color */
padding: 12px;
margin:8px 0;
border-style: none;
background: #005EAD;
}
.content{
    position: absolute;
width: 1920px;
height: 363px;
left: 0px;
top: 4877px;
background: #FFFFFF;
}
.logo2{
   /* position: absolute;
width: 395px;
height: 60px;
left: 1071px;
top: 4750px;
*/
    position: absolute;
width: 107.89px;
height: 31.28px;
left: 195px;
/*top: 4945px;*/
top:5%;
}
.footer{
    position: absolute;
width: 1530px;
height: 50px;
left: 195px;
/*top: 5160px;*/
top:4800px;
background: #F8F8F9;
}
.footer h1{
    position: absolute;
width: 140px;
height: 32px;
/*left: 214px;
/*top: 5171px;*/
left:105px;
top:20%;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
/* identical to box height, or 229% */
text-transform: uppercase;
color: #6A7081;
}
.footer h2{
    position: absolute;
width: 300px;
height: 32px;
/*left: 1405px;
/*top: 5171px;*/
top:20%;
left:1200px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
/* identical to box height, or 229% */
text-transform: uppercase;
color: #6A7081;
}








